<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sonostalgia</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <main class="main-content">
            <header class="header">
                <h1 class="page-title">All Memories</h1>
                <p class="page-subtitle">Everything I've remembered to add... so far!</p>
            </header>

            <div class="memory-grid">
                {{range $memory := .AllMemories}}
                    {{template "memoryCard" $memory}}
                {{end}}
            </div>
        </main>

        {{template "navPanel" "Memories"}}

    </div>
</body>
</html>