<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sonostalgia</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <main class="main-content">
            <header class="header">
                <h1 class="page-title">Memories By Year</h1>
                <p class="page-subtitle">A chronological journey through time</p>
            </header>

            
            <section class="year-section">
                {{range .Years}}
                <h2 class="year-header" id="{{.Year}}">{{.Year}}</h2>
                <div class="memory-grid">
                    {{range $memory := .Memories}}
                        {{template "memoryCard" $memory}}
                    {{end}}
                </div>
                {{ end }}
            </section>
        </main>

        {{template "navPanel" "Years"}}
    </div>
</body>
</html>