outputTitle:
shortTitle:
title:
subtitle:
date: # Use quotes for dates to ensure string format

songs:
  - name:
    link:
    artists:
      - name:
        link:
    relevantDate:
    imageLink:

content: |
  # Main Content in markdown
  
otherSongs:
  - name: 
    link: 
    artists:
      - name:
        link:
    relevantDate:
    imageLink: