outputTitle:
shortTitle:
title:
subtitle:
date: # Use quotes for dates to ensure string format

songs:
  - name:
    link:
    artist:
    artistLink:
    relevantDate:
    imageLink:

content: |
  # Main Content in markdown
  
otherSongs:
  - name: 
    link: 
    artist: 
    artistLink: 
    relevantDate:
    imageLink: